body {
    background-color: lightblue;
    color: maroon;
    font-family: arial;
    margin: 0px;
}

main {
    background-color: rgb(100, 202, 236);
    color: maroon;
    font-family: Arial;
    margin: 30px;
}

footer {
    background-color: darkblue;
    color: white;
    font-family: Arial;
    margin: 0px;
    padding: 5px; 
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

header {
    background-color: darkblue;
    color: white;
    font-family: Arial;
    margin: 0px;
    padding: 5px; 
}

a {
    color: green;
    text-decoration: none;
    transition: 1s 3s;
}

a:link {
    color: brown;
}

a:visited {
    color: blueviolet;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: pink;
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}

div.menu {
    border: 8px solid rgba(26, 22, 130, 0.695);
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}
div.menu:hover {
    background-color: #ffffff30;
    box-shadow: 0 0 15px #00000030;
    color: rgb(200, 62, 32);
}